.performance {
  width: 95%;
  background: #02090F;
  border-radius: 8px;
  padding: 1rem;
  font-size: 14px;
}

.performanceTitle {
  text-align: center;
  font-size: 16px;
}
.transactionsTitle {
  text-align: start;
  font-size: 24px;
}

.stacktable {
  margin: 20px;
}

@media (max-width: 768px) {
  .performanceTitle {
    font-size: 16px;
  }

  .stacktable {
    padding: 0px 8px 8px 8px;
  }

  .transactionsTitle {
    font-size: 16px;
  }
}